<div id="<%= dom_id compromisso %>">
  <p>
    <strong>Titulo:</strong>
    <%= compromisso.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= compromisso.descricao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= compromisso.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= compromisso.horario %>
  </p>

</div>
